@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1 .navbar-toggler {
  color: #000000;
}
#content5-19 .mbr-section-title {
  font-size: 48px;
}
#content1-84 BLOCKQUOTE {
  font-size: 32px;
}
#content1-84 P {
  font-size: 25px;
}
#content1-84 UL {
  font-size: 22px;
}

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1 .navbar-toggler {
  color: #000000;
}
#content5-29 P {
  font-size: 30px;
}
#content4-28 P {
  font-size: 18px;
}
#content4-28 H4 {
  font-size: 25px;
}

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1 .navbar-toggler {
  color: #000000;
}
#content5-27 P {
  font-size: 30px;
}
#content1-65 H1 {
  text-align: center;
  font-size: 36px;
}

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1 .navbar-toggler {
  color: #000000;
}
#content5-70 P {
  font-size: 30px;
}
#content1-71 H1 {
  text-align: center;
}
#content1-71 BLOCKQUOTE {
  font-size: 30px;
}

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1 .navbar-toggler {
  color: #000000;
}
#content5-39 P {
  font-size: 25px;
}
#testimonials1-38 .card-footer > small {
  font-size: 16px;
}
#form1-37 .btn {
  font-size: 20px;
}
#form1-37 .mbr-section-title {
  color: #ffffff;
}

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1 .navbar-toggler {
  color: #000000;
}
#content5-43 P {
  font-size: 25px;
}
#header3-92 H3 {
  font-size: 30px;
}
#form1-89 .mbr-section-title {
  color: #ffffff;
}


#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1 .navbar-toggler {
  color: #000000;
}
#image1-36 DIV {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}
#msg-box2-65 H2 {
  color: #ffffff;
}

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1 .navbar-toggler {
  color: #000000;
}
#content5-62 P {
  font-size: 22px;
}
#content1-59 BLOCKQUOTE {
  font-size: 30px;
}
#content1-59 H1 {
  font-size: 30px;
}

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1 .navbar-toggler {
  color: #000000;
}
#content5-58 P {
  font-size: 25px;
}
#content1-74 P {
  font-size: 9px;
}
#content1-74 H1 {
  text-align: center;
}

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1 .navbar-toggler {
  color: #000000;
}
#content5-78 P {
  font-size: 30px;
}
#content1-79 H1 {
  text-align: left;
  font-size: 32px;
}
#content1-79 UL {
  text-align: center;
}
#content1-79 DIV {
  text-align: right;
}
#content1-79 P {
  text-align: left;
}
#content1-79 LI {
  text-align: left;
}
#content1-79 H2 {
  text-align: left;
}
#content1-79 BLOCKQUOTE {
  font-size: 30px;
  text-align: left;
}
#content1-79 SPAN {
  font-size: 30px;
}

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1 .navbar-toggler {
  color: #000000;
}
#form2-52 .mbr-section-title {
  font-size: 36px;
}
#form1-53 .mbr-section-title {
  font-size: 36px;
}

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1 .navbar-toggler {
  color: #000000;
}
#content5-27 P {
  font-size: 24px;
}
#pricing-table1-25 SPAN {
  font-size: 18px;
}
#pricing-table1-25 UL {
  font-size: 16px;
}

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1 .navbar-toggler {
  color: #000000;
}
#content5-46 P {
  font-size: 25px;
}

#dropdown-menu-90 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-90 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-90 .nav .link,
#dropdown-menu-90 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-90 .navbar,
#dropdown-menu-90 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-90 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-90 .dropdown-menu a:hover,
#dropdown-menu-90 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-90 .navbar-toggler {
  color: #000000;
}
#content5-92 P {
  font-size: 22px;
}

#dropdown-menu-85 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-85 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-85 .nav .link,
#dropdown-menu-85 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-85 .navbar,
#dropdown-menu-85 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-85 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-85 .dropdown-menu a:hover,
#dropdown-menu-85 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-85 .navbar-toggler {
  color: #000000;
}
#header1-88 H1 {
  text-align: left;
  font-size: 48px;
}













#content5-15 P {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}
#content5-15 .mbr-section-title {
  font-family: 'Roboto', sans-serif;
}
#content5-15 .mbr-section-title B {
  font-family: 'Oswald', sans-serif;
}
#features1-79 H4 {
  font-family: 'Oswald', sans-serif;
}
#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1 .navbar-toggler {
  color: #000000;
}
#msg-box3-89 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-89 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-89 .mbr-section-title {
  color: #ffffff;
}
#msg-box3-89 .lead P {
  color: #ffffff;
}
#msg-box3-88 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-88 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-88 .mbr-section-title {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#msg-box3-88 .lead P {
  color: #ffffff;
  font-family: 'Playfair Display', sans-serif;
}
#content1-79 DIV {
  font-size: 30px;
  color: #5cb85c;
  text-align: center;
}
#content1-79 P {
  color: #5cb85c;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}
#form2-56 .mbr-section-title {
  text-align: right;
  font-family: 'Oswald', sans-serif;
}
#msg-box2-86 H2 {
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  text-align: right;
}
#msg-box2-86 SPAN {
  font-size: 36px;
}
#msg-box1-80 B {
  font-family: 'Oswald', sans-serif;
  text-align: left;
}
#msg-box1-80 SPAN {
  text-align: left;
  font-family: 'Oswald', sans-serif;
}
#msg-box1-80 P {
  font-family: 'Oswald', sans-serif;
}

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1 .navbar-toggler {
  color: #000000;
}
#content5-52 P {
  font-size: 30px;
  text-align: left;
}
